<!--
ioBroker.vis menus Widget-Set

version: "0.0.2"

Copyright 10.2015-2016 Communicate<nick@communicate-online.de>
-->
<!-- here you can include so many css as you want -->
<link rel="stylesheet" href="widgets/menus/css/style.css" />




<script>

function myFunction(l) {
console.log(l)
l.toString()
alert(l);

}

</script>






<script>
    "use strict";
    if (vis.editMode) {
        $.extend(systemDictionary, {
            "cicon":                {"en": "Icon",              "de": "Bild",               "ru": "Картинка"},
            "bcolor":               {"en": "Icon background",   "de": "Bildhintergrund",    "ru": "Фон картинки"},
            "bcolorRightInactive":  {
                "en": "Background inactive",
                "de": "Hintergrund inaktive",
                "ru": "Фон в неактивном состоянии"
            },
            "bcolorRightActive":    {"en": "Background active", "de": "Hintergrund aktive", "ru": "Фон в активном состоянии"},
            "imageBarWidth":        {"en": "Icon background width", "de": "Bildbreite", "ru": "Ширина фона картинки"},
            "oid_control":          {"en": "Control Object ID", "de": "Objekt ID zum steuern", "ru": "oid_control"}
        });
    }

    vis.binds.menus = {
        click: function (el, data) {
            if (parseFloat(data.min).toString() == data.min) data.min = parseFloat(data.min);
            if (parseFloat(data.max).toString() == data.max) data.max = parseFloat(data.max);

            if (data.min === 'true')  data.min = true;
            if (data.min === 'false') data.min = false;
            if (data.max === 'true')  data.max = true;
            if (data.max === 'false') data.max = false;

            if (data.oid_control && !vis.editMode) {
                $(el).click(function () {
                    if (vis.states[data.oid_control + '.val'] == data.max) {
                        vis.setValue(data.oid_control, data.min);
                    } else {
                        vis.setValue(data.oid_control, data.max);
                    }
                });
            }
        },
        dialog: function (el, data) {

         
            


            if (!$(el).find('.heating-dialog').length) {
                setTimeout(function () {
                   
                  


var weite = data.weite;
weite += "px";
console.log('weite:'+weite);


var act_soll_temp = vis.states[data.oid_control + '.val'];
console.log("Aktuell [" + data.oid_control + "]:" + act_soll_temp);






                  var text = '<div style="display: none" class="menus-dialog" data-wid="' + data.wid + '">' +
                
               
                 '<snap class="menus-range-val"></snap></snap>'+

               '<input type="range" class="barGreen" min="0" max="30" value=' + act_soll_temp + ' style="width: 90%"/> ' + 
               '<input type="range" class="barRed" min="0" max="30" value=' + act_soll_temp + ' style="width: 90%"/> ' +
        
    
            '<button class="menus-button" name="button_0"  data-value="0">Aus</button>' +  '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+
                '<button class="menus-button" name="button_18"  data-value="18">18 Grad</button>' + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+
                '<button class="menus-button" name="button_an"  data-value="30">An</button>' + 
                            
                            '</div>';


                    var $dialog = $(text);

                    $dialog.find('.menus-button').click(function () {
                   <!-- alert(parseFloat($(this).data('value'))); -->
                    vis.setValue(data.oid_control, parseFloat($(this).data('value')));
                    });


                    var $value = $dialog.find('.menus-range-val');
                    var $input = $dialog.find('input');


                    $dialog.click(function () {
                     console.log(JSON.stringify($dialog, null, 2));
                    
                    console.log(JSON.stringify('this.dat:'+ $(this).data(), null, 2));
                    console.log("Input_log:"+$input);
                    console.log(JSON.parse(JSON.stringify($input)));


                        $input.unbind('onmouseup');
                        $(this).hide();
                    });
                    $input.change(function () {
                    <!--    alert($(this).val()); -->
                        vis.setValue(data.oid_control, $(this).val())
                    });
                    $(el).parent().append($dialog);
                    $(el).click(function () {
                      
                        $dialog.css({top: $(el).position().top+ $(el).height(), left: $(el).position().left, width: $(el).width()-2, height:$(el).height() });
                        
                        $dialog.show();
                        $value.html($input.val());
                        $input.bind('onmouseup', function () {
                            $value.html($input.val());
                        });
                    });
                });
            }
        }
    };



</script>




<script id="tplMenusMenu"
        type="text/ejs"
        class="vis-tpl"
      data-vis-prev='<div id="prev_tplMenusMenu" style="position: relative; text-align: initial;padding: 4px "><div class="vis-widget_prev " style="width: 200px; height: 200px; top: 92px; position: absolute;" > <div class="vis-widget-prev-body " style="padding:2px"> <div class="menus-notification_box"></div>  <div class="menus-justify menus-p">Heating</div> <div class="menus-justify menus-p" style="margin-top: 0.5em;" data-oid="dev4">0В°C</div> </div> </div> </div></div>'
                data-vis-set="menus"
        data-vis-attrs="nav_view;oid/id,value.temperature;title[Heating];"
        data-vis-attrs0="group.style;bcolor/color;bcolorRightInactive/color;bcolorRightActive[#ECBCBC]/color;"
        data-vis-attrs1="imageBarWidth[70]/slider,0,1300,1;imageBarHeight[40]/slider,0,100,1;"
        data-vis-attrs2="group.ccontrol;oid_control/id;min[false];max[true];"
        data-vis-attrs3="schrift_groesse;schrift_groesse_oben;Einheit;"
        data-vis-attrs4="weite[40]/slider,0,1000,1;"
        data-vis-attrs5="link1;link2;link3;link4;"

        data-vis-type="ctrl,bool,button,state,navigation"
        data-vis-update-style="true"

        data-vis-name="Menu">

    <div id="<%= this.data.attr('wid') %>" class="vis-widget" style="width: 200px; height: 200px" >

       
        <div class="vis-widget-body <%== this.data.attr('class') %>">






<div class="menu-outer">
    <div class="menu-icon">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <nav>
        <ul>
           <li><a href="#<%== this.data.attr('link1') %>"><%== this.data.attr('link1')%></a></li>
           <li><a href="#<%== this.data.attr('link2') %>"><%== this.data.attr('link2')%></a></li>
          <li><a href="#<%== this.data.attr('link3') %>"><%== this.data.attr('link3')%></a></li>
         <li><a href="#<%== this.data.attr('link4') %>"><%== this.data.attr('link4')%></a></li>
      
       </ul>
   </nav>
</div>
<a class="menu-close" onClick="return true">
    <div class="menu-icon">
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
</a>



</script>


<script id="tplMenusCircle"
        type="text/ejs"
        class="vis-tpl"
      data-vis-prev='<div id="prev_tplMenusCircle" style="position: relative; text-align: initial;padding: 4px "><div class="vis-widget_prev " style="left: 68px; top: 53px; font-family: font-awesome-css; width: 262px; height: 260px;/>'
        data-vis-set="menus"
        data-vis-attrs="nav_view;oid/id,value.temperature;title[Heating];"
        data-vis-attrs0="group.style;bcolor/color;bcolorRightInactive/color;bcolorRightActive[#ECBCBC]/color;"
        data-vis-attrs1="imageBarWidth[70]/slider,0,1300,1;imageBarHeight[40]/slider,0,100,1;"
        data-vis-attrs2="group.ccontrol;oid_control/id;min[false];max[true];"
        data-vis-attrs3="schrift_groesse;schrift_groesse_oben;Einheit;"
        data-vis-attrs4="weite[40]/slider,0,1000,1;"
        data-vis-attrs5="link1;link2;link3;link4;"

        data-vis-type="ctrl,bool,button,state,navigation"
        data-vis-update-style="true"

        data-vis-name="circleMenu">

    <div id="<%= this.data.attr('wid') %>" class="vis-widget" style="" >

       
        <div class="vis-widget-body <%== this.data.attr('class') %>">



<nav class="circular-menu">

  <div class="circle">
    <a href="" class="fa fa-home fa-2x"></a>
    <a href="" class="fa fa-facebook fa-2x"></a>
    <a href="" class="fa fa-twitter fa-2x"></a>
    <a href="" class="fa fa-linkedin fa-2x"></a>
    <a href="" class="fa fa-github fa-2x"></a>
    <a href="" class="fa fa-rss fa-2x"></a>
    <a href="" class="fa fa-pinterest fa-2x"></a>
    <a href="" class="fa fa-asterisk fa-2x"></a>
  </div>
  
  <a href="" class="menu-button fa fa-bars fa-2x"></a>

</nav>

<script>// Demo by http://creative-punch.net

var items = document.querySelectorAll('.circle a');

for(var i = 0, l = items.length; i < l; i++) {
  items[i].style.left = (50 - 35*Math.cos(-0.5 * Math.PI - 2*(1/l)*i*Math.PI)).toFixed(4) + "%";
  
  items[i].style.top = (50 + 35*Math.sin(-0.5 * Math.PI - 2*(1/l)*i*Math.PI)).toFixed(4) + "%";
}

document.querySelector('.menu-button').onclick = function(e) {
   e.preventDefault(); document.querySelector('.circle').classList.toggle('open');
}</script>


</script>

