<!--
ioBroker.vis communicate Widget-Set

version: "0.0.1"

Copyright 10.2015-2016 Communicate<nick@communicate-online.de>
-->
<!-- here you can include so many css as you want -->
<link rel="stylesheet" href="widgets/communicate/css/style.css" />




<script>

function myFunction(l) {
console.log(l)
l.toString()
alert(l);

}

</script>






<script>
    "use strict";
    if (vis.editMode) {
        $.extend(systemDictionary, {
            "cicon":                {"en": "Icon",              "de": "Bild",               "ru": "Картинка"},
            "bcolor":               {"en": "Icon background",   "de": "Bildhintergrund",    "ru": "Фон картинки"},
            "bcolorRightInactive":  {
                "en": "Background inactive",
                "de": "Hintergrund inaktive",
                "ru": "Фон в неактивном состоянии"
            },
            "bcolorRightActive":    {"en": "Background active", "de": "Hintergrund aktive", "ru": "Фон в активном состоянии"},
            "imageBarWidth":        {"en": "Icon background width", "de": "Bildbreite", "ru": "Ширина фона картинки"},
            "oid_control":          {"en": "Control Object ID", "de": "Objekt ID zum steuern", "ru": "oid_control"}
        });
    }

    vis.binds.communicate = {
        click: function (el, data) {
            if (parseFloat(data.min).toString() == data.min) data.min = parseFloat(data.min);
            if (parseFloat(data.max).toString() == data.max) data.max = parseFloat(data.max);

            if (data.min === 'true')  data.min = true;
            if (data.min === 'false') data.min = false;
            if (data.max === 'true')  data.max = true;
            if (data.max === 'false') data.max = false;

            if (data.oid_control && !vis.editMode) {
                $(el).click(function () {
                    if (vis.states[data.oid_control + '.val'] == data.max) {
                        vis.setValue(data.oid_control, data.min);
                    } else {
                        vis.setValue(data.oid_control, data.max);
                    }
                });
            }
        },
        dialog: function (el, data) {

         
            


            if (!$(el).find('.heating-dialog').length) {
                setTimeout(function () {
                   
                  


var weite = data.weite;
weite += "px";
console.log('weite:'+weite);


var act_soll_temp = vis.states[data.oid_control + '.val'];
console.log("Aktuell [" + data.oid_control + "]:" + act_soll_temp);






                  var text = '<div style="display: none" class="communicate-dialog" data-wid="' + data.wid + '">' +
                
               
                 '<snap class="communicate-range-val"></snap></snap>'+

               '<input type="range" class="barGreen" min="0" max="30" value=' + act_soll_temp + ' style="width: 90%"/> ' + 
               '<input type="range" class="barRed" min="0" max="30" value=' + act_soll_temp + ' style="width: 90%"/> ' +
        
    
            '<button class="communicate-button" name="button_0"  data-value="0">Aus</button>' +  '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+
                '<button class="communicate-button" name="button_18"  data-value="18">18 Grad</button>' + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+
                '<button class="communicate-button" name="button_an"  data-value="30">An</button>' + 
                            
                            '</div>';


                    var $dialog = $(text);

                    $dialog.find('.communicate-button').click(function () {
                   <!-- alert(parseFloat($(this).data('value'))); -->
                    vis.setValue(data.oid_control, parseFloat($(this).data('value')));
                    });


                    var $value = $dialog.find('.communicate-range-val');
                    var $input = $dialog.find('input');


                    $dialog.click(function () {
                     console.log(JSON.stringify($dialog, null, 2));
                    
                    console.log(JSON.stringify('this.dat:'+ $(this).data(), null, 2));
                    console.log("Input_log:"+$input);
                    console.log(JSON.parse(JSON.stringify($input)));


                        $input.unbind('onmouseup');
                        $(this).hide();
                    });
                    $input.change(function () {
                    <!--    alert($(this).val()); -->
                        vis.setValue(data.oid_control, $(this).val())
                    });
                    $(el).parent().append($dialog);
                    $(el).click(function () {
                      
                        $dialog.css({top: $(el).position().top+ $(el).height(), left: $(el).position().left, width: $(el).width()-2, height:$(el).height() });
                        
                        $dialog.show();
                        $value.html($input.val());
                        $input.bind('onmouseup', function () {
                            $value.html($input.val());
                        });
                    });
                });
            }
        }
    };



</script>



<script id="tplCommunicateHeating"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<div id="prev_tplCommunicateShowInstance" style="position: relative; text-align: initial;padding: 4px "><div class="vis-widget_prev " style="width: 100%; height: 100%; left: 217px; top: 92px; position: absolute;" > <div class="vis-widget-prev-body " style="padding:2px"> <ul class="communicate-ul"> <li class="communicate-var_nav"> <div class="communicate-link_bg"></div> <div class="communicate-link_title"> <div class="communicate-icon"> <i class="communicate-link_bg-i"> <img class="communicate-img" src="widgets/communicate/img/sani_heating_temp.svg" alt="" width="62" height="62" align="middle"> </i> </div> <div class="communicate-justify communicate-p">Heating</div> <div class="communicate-justify communicate-p" style="margin-top: 0.5em;" data-oid="dev4">0В°C</div> </div> </li> </ul> </div> </div></div>'
        data-vis-set="communicate"
        data-vis-attrs="nav_view;oid/id,value.temperature;cicon[widgets~communicate~img~sani_heating_temp.svg]/image;title[Heating];"
        data-vis-attrs0="group.style;bcolor/color;bcolorRightInactive/color;bcolorRightActive[#ECBCBC]/color;"
        data-vis-attrs1="imageBarWidth[70]/slider,0,300,1;"
        data-vis-attrs2="group.ccontrol;oid_control/id;min[false];max[true];"
        data-vis-type="ctrl,bool,button,state,navigation"
        data-vis-name="Heating">


    <div id="<%= this.data.attr('wid') %>" class="vis-widget" style="width:180px; height:74px" data-min="<%= this.data.attr('min') %>"
    data-max="<%= this.data.attr('max') %>"
        <%= (el) -> vis.binds.basic.navigation(el, {nav_view: data.attr('nav_view'), hideOptions:{effect:data.attr('hide_effect'),options:(data.attr('hide_options')?data.attr('hide_options'):{}),duration:data.attr('hide_duration')},showOptions:{effect:data.attr('show_effect'),options:(data.attr('show_options')?data.attr('show_options'):{}),duration:data.attr('show_duration')},sync:data.attr('sync'),background:data.attr('body-background')}); %> >
        <div class="vis-widget-body <%== this.data.attr('class') %>">
            <div class="communicate-var_nav" style="background: <%== vis.states.attr(this.data.oid_control + '.val') == data.max ? this.data.attr('bcolorRightActive') : this.data.attr('bcolorRightInactive') %>;">

            <div class="communicate-link_bg" style="background: <%== this.data.attr('bcolor') %>; width:<%== this.data.attr('imageBarWidth') %>px">
                <img class="communicate-img" src="<%== this.data.attr('cicon') %>" width="100%" align="middle"/>
            </div>

            <div class="communicate-link_title" style="width: calc(100% - <%== this.data.attr('imageBarWidth') %>px)" <%= (el) -> vis.binds.communicate.click(el, data) %>>
                <div class="communicate-p" style="top: 30%;"><%== this.data.attr('title') %></div>
                <div class="communicate-p" style="top: 60%;" data-oid="<%= this.data.attr('oid') %>"><%== (vis.states.attr(this.data.oid + '.val') || 0).toString().replace('.', ',') %>°C</div>

            </div>
        </div>
    </div>
</script>



<script id="tplCommunicateHeating2"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<div id="prev_tplCommunicateShowInstance" style="position: relative; text-align: initial;padding: 4px "><div class="vis-widget_prev " style="width: 100%; height: 100%; left: 217px; top: 92px; position: absolute;" > <div class="vis-widget-prev-body " style="padding:2px"> <ul class="communicate-ul"> <li class="communicate-var_nav"> <div class="communicate-link_bg"></div> <div class="communicate-link_title"> <div class="communicate-icon"> <i class="communicate-link_bg-i"> <img class="communicate-img" src="widgets/communicate/img/sani_heating_temp.svg" alt="" width="62" height="62" align="middle"> </i> </div> <div class="communicate-justify communicate-p">Heating</div> <div class="communicate-justify communicate-p" style="margin-top: 0.5em;" data-oid="dev4">0В°C</div> </div> </li> </ul> </div> </div></div>'
        data-vis-set="communicate"
        data-vis-attrs="nav_view;oid/id,value.temperature;cicon[widgets~communicate~img~sani_heating_temp.svg]/image;title[Heating];"
        data-vis-attrs0="group.style;bcolor/color;bcolorRightInactive/color;bcolorRightActive[#ECBCBC]/color;"
        data-vis-attrs1="imageBarWidth[70]/slider,0,300,1;"
        data-vis-attrs2="group.ccontrol;oid_control/id;min[false];max[true];"
        data-vis-type="ctrl,bool,button,state,navigation"
        data-vis-name="Heating2">


    <div id="<%= this.data.attr('wid') %>" class="vis-widget" style="width:180px; height:74px" data-min="<%= this.data.attr('min') %>"
    data-max="<%= this.data.attr('max') %>"
        <%= (el) -> vis.binds.basic.navigation(el, {nav_view: data.attr('nav_view'), hideOptions:{effect:data.attr('hide_effect'),options:(data.attr('hide_options')?data.attr('hide_options'):{}),duration:data.attr('hide_duration')},showOptions:{effect:data.attr('show_effect'),options:(data.attr('show_options')?data.attr('show_options'):{}),duration:data.attr('show_duration')},sync:data.attr('sync'),background:data.attr('body-background')}); %> >
        <div class="vis-widget-body <%== this.data.attr('class') %>">
            <div class="communicate-var_nav" style="background: <%== vis.states.attr(this.data.oid_control + '.val') == data.max ? this.data.attr('bcolorRightActive') : this.data.attr('bcolorRightInactive') %>;">

            <div class="communicate-link_bg" style="background: <%== this.data.attr('bcolor') %>; width:<%== this.data.attr('imageBarWidth') %>px">
                <img class="communicate-img" src="<%== this.data.attr('cicon') %>" width="100%" align="middle"/>
            </div>

            <div class="communicate-link_title" style="width: calc(100% - <%== this.data.attr('imageBarWidth') %>px)" <%= (el) -> vis.binds.communicate.click(el, data) %>>
                <div class="communicate-p" style="top: 30%;"><%== this.data.attr('title') %></div>
               
            </div>
        </div>
    </div>
</script>




<script id="tplCommunicateNotification"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<div id="prev_tplCommunicateShowInstance" style="position: relative; text-align: initial;padding: 4px "><div class="vis-widget_prev " style="width: 100%; height: 100%; left: 217px; top: 92px; position: absolute;" > <div class="vis-widget-prev-body " style="padding:2px"> <div class="communicate-notification_box"></div>  <div class="communicate-justify communicate-p">Heating</div> <div class="communicate-justify communicate-p" style="margin-top: 0.5em;" data-oid="dev4">0В°C</div> </div> </div> </div></div>'
        data-vis-set="communicate"
        data-vis-attrs="nav_view;oid/id,value.temperature;title[Heating];"
        data-vis-attrs0="group.style;bcolor/color;bcolorRightInactive/color;bcolorRightActive[#ECBCBC]/color;"
        data-vis-attrs1="imageBarWidth[70]/slider,0,1300,1;imageBarHeight[70]/slider,0,1300,1;"
        data-vis-attrs2="group.ccontrol;oid_control/id;min[false];max[true];"
        data-vis-attrs3="schrift_groesse;schrift_groesse_oben;Einheit;"
        data-vis-type="ctrl,bool,button,state,navigation"
        data-vis-name="Notification">


    <div id="<%= this.data.attr('wid') %>" class="vis-widget" style="width:180px; height:74px" 

        <%= (el) -> vis.binds.basic.navigation(el, {nav_view: data.attr('nav_view'), hideOptions:{effect:data.attr('hide_effect'),options:(data.attr('hide_options')?data.attr('hide_options'):{}),duration:data.attr('hide_duration')},showOptions:{effect:data.attr('show_effect'),options:(data.attr('show_options')?data.attr('show_options'):{}),duration:data.attr('show_duration')},sync:data.attr('sync'),background:data.attr('body-background')}); %> >


        <div class="vis-widget-body <%== this.data.attr('class') %>">
            <div class="communicate-notification_box" style="background: <%== vis.states.attr(this.data.oid_control + '.val') == data.max ? this.data.attr('bcolorRightActive') : this.data.attr('bcolorRightInactive') %>; width:<%== this.data.attr('imageBarWidth') %>px; height:<%== this.data.attr('imageBarHeight') %>px" <%== this.data.attr('title') %> >

           
             <div class="communicate-p1" style="top: 30%;font-size:<%== this.data.attr('schrift_groesse_oben') %>px        "><%== this.data.attr('title') %></div> 
             <span><br></span>
                <div class="communicate-p2" style="top: 60%;font-size:<%== this.data.attr('schrift_groesse') %>px " data-oid="<%= this.data.attr('oid') %>"><%== (vis.states.attr(this.data.oid + '.val') || 0).toString().replace('.', ',') %><%== this.data.attr('Einheit') %></div>

            </div>
        </div>
    </div>
</script>

<script id="tplCommunicateNotificationDialog"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<div id="prev_tplCommunicateShowInstance" style="position: relative; text-align: initial;padding: 4px "><div class="vis-widget_prev " style="width: 100%; height: 100%; left: 217px; top: 92px; position: absolute;" > <div class="vis-widget-prev-body " style="padding:2px"> <div class="communicate-notification_box"></div>  <div class="communicate-justify communicate-p">Heating</div> <div class="communicate-justify communicate-p" style="margin-top: 0.5em;" data-oid="dev4">0В°C</div> </div> </div> </div></div>'
        data-vis-set="communicate"
        data-vis-attrs="nav_view;oid/id,value.temperature;title[Heating];"
        data-vis-attrs0="group.style;bcolor/color;bcolorRightInactive/color;bcolorRightActive[#ECBCBC]/color;"
        data-vis-attrs1="imageBarWidth[70]/slider,0,1300,1;imageBarHeight[70]/slider,0,1300,1;"
        data-vis-attrs2="group.ccontrol;oid_control/id;min[false];max[true];"
        data-vis-attrs3="schrift_groesse;schrift_groesse_oben"
        data-vis-type="ctrl,bool,button,state,navigation"
        data-vis-name="NotificationDialog">


    <div id="<%= this.data.attr('wid') %>" class="vis-widget" style="width:180px; height:74px" 

        <%= (el) -> vis.binds.basic.navigation(el, {nav_view: data.attr('nav_view'), hideOptions:{effect:data.attr('hide_effect'),options:(data.attr('hide_options')?data.attr('hide_options'):{}),duration:data.attr('hide_duration')},showOptions:{effect:data.attr('show_effect'),options:(data.attr('show_options')?data.attr('show_options'):{}),duration:data.attr('show_duration')},sync:data.attr('sync'),background:data.attr('body-background')}); %> >


        <div class="vis-widget-body <%== this.data.attr('class') %>">
            <div class="communicate-notification_box" style="background: <%== vis.states.attr(this.data.oid_control + '.val') == data.max ? this.data.attr('bcolorRightActive') : this.data.attr('bcolorRightInactive') %>; width:<%== this.data.attr('imageBarWidth') %>px; height:<%== this.data.attr('imageBarHeight') %>px" <%== this.data.attr('title') %> >

           
             

                <div class="communicate-p2" style="top: 30%;font-size:<%== this.data.attr('schrift_groesse_oben') %>px        "><%== this.data.attr('title') %></div> 





            </div>
        </div>
    </div>

</script>

<script id="tplCommunicateNotificationD2"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<div id="prev_tplCommunicateShowInstance" style="position: relative; text-align: initial;padding: 4px "><div class="vis-widget_prev " style="width: 100%; height: 100%; left: 217px; top: 92px; position: absolute;" > <div class="vis-widget-prev-body " style="padding:2px"> <div class="communicate-notification_box"></div>  <div class="communicate-justify communicate-p">Heating</div> <div class="communicate-justify communicate-p" style="margin-top: 0.5em;" data-oid="dev4">0В°C</div> </div> </div> </div></div>'
        data-vis-set="communicate"
        data-vis-attrs="nav_view;oid/id,value.temperature;title[Heating];"
        data-vis-attrs0="group.style;bcolor/color;bcolorRightInactive/color;bcolorRightActive[#ECBCBC]/color;"
        data-vis-attrs1="imageBarWidth[70]/slider,0,1300,1;imageBarHeight[40]/slider,0,100,1;"
        data-vis-attrs2="group.ccontrol;oid_control/id;min[false];max[true];"
        data-vis-attrs3="schrift_groesse;schrift_groesse_oben;Einheit;"
        data-vis-attrs4="weite[40]/slider,0,1000,1;"

        data-vis-type="ctrl,bool,button,state,navigation"
        data-vis-update-style="true"

        data-vis-name="NotificationD2">
    <div id="<%= this.data.attr('wid') %>" class="vis-widget" style="width:100px; height:50px" <%= (el) -> vis.binds.communicate.dialog(el, this.data) %>>
          <div class="vis-widget-body <%== this.data.attr('class') %>">
                    <div class="communicate-notification_box" style="background: <%== vis.states.attr(this.data.oid_control + '.val') == data.max ? this.data.attr('bcolorRightActive') : this.data.attr('bcolorRightInactive') %>;" <%== this.data.attr('title') %> >
                 <div class="communicate-p1" style="font-size:<%== this.data.attr('schrift_groesse_oben') %>px; height: <%== this.data.attr('imageBarHeight') %>%"><%== this.data.attr('title') %></div>
                    <div class="communicate-p2" style="padding-top: 20px; font-size:<%== this.data.attr('schrift_groesse') %>px " data-oid="<%= this.data.attr('oid') %>"><%== (vis.states.attr(this.data.oid + '.val') || 0).toString().replace('.', ',') %><%== this.data.attr('Einheit') %></div>
                </div>
            </div>
        </div>
    </div>
</script>


<script id="tplCommunicateMenu"
        type="text/ejs"
        class="vis-tpl"
      data-vis-prev='<div id="prev_tplCommunicateShowInstance" style="position: relative; text-align: initial;padding: 4px "><div class="vis-widget_prev " style="width: 200px; height: 200px; top: 92px; position: absolute;" > <div class="vis-widget-prev-body " style="padding:2px"> <div class="communicate-notification_box"></div>  <div class="communicate-justify communicate-p">Heating</div> <div class="communicate-justify communicate-p" style="margin-top: 0.5em;" data-oid="dev4">0В°C</div> </div> </div> </div></div>'
                data-vis-set="communicate"
        data-vis-attrs="nav_view;oid/id,value.temperature;title[Heating];"
        data-vis-attrs0="group.style;bcolor/color;bcolorRightInactive/color;bcolorRightActive[#ECBCBC]/color;"
        data-vis-attrs1="imageBarWidth[70]/slider,0,1300,1;imageBarHeight[40]/slider,0,100,1;"
        data-vis-attrs2="group.ccontrol;oid_control/id;min[false];max[true];"
        data-vis-attrs3="schrift_groesse;schrift_groesse_oben;Einheit;"
        data-vis-attrs4="weite[40]/slider,0,1000,1;"
        data-vis-attrs5="link1;link2;link3;link4;"

        data-vis-type="ctrl,bool,button,state,navigation"
        data-vis-update-style="true"

        data-vis-name="Menu">

    <div id="<%= this.data.attr('wid') %>" class="vis-widget" style="width: 200px; height: 200px" >

       
        <div class="vis-widget-body <%== this.data.attr('class') %>">






<div class="menu-outer">
    <div class="menu-icon">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <nav>
        <ul>
           <li><a href="#<%== this.data.attr('link1') %>"><%== this.data.attr('link1')%></a></li>
           <li><a href="#<%== this.data.attr('link2') %>"><%== this.data.attr('link2')%></a></li>
          <li><a href="#<%== this.data.attr('link3') %>"><%== this.data.attr('link3')%></a></li>
         <li><a href="#<%== this.data.attr('link4') %>"><%== this.data.attr('link4')%></a></li>
      
       </ul>
   </nav>
</div>
<a class="menu-close" onClick="return true">
    <div class="menu-icon">
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
</a>



</script>


<script id="tplCommunicateCircle"
        type="text/ejs"
        class="vis-tpl"
      data-vis-prev='<div id="prev_tplCommunicateCircle" style="position: relative; text-align: initial;padding: 4px "><div class="vis-widget_prev " style="left: 68px; top: 53px; font-family: font-awesome-css; width: 262px; height: 260px;/>'
        data-vis-set="communicate"
        data-vis-attrs="nav_view;oid/id,value.temperature;title[Heating];"
        data-vis-attrs0="group.style;bcolor/color;bcolorRightInactive/color;bcolorRightActive[#ECBCBC]/color;"
        data-vis-attrs1="imageBarWidth[70]/slider,0,1300,1;imageBarHeight[40]/slider,0,100,1;"
        data-vis-attrs2="group.ccontrol;oid_control/id;min[false];max[true];"
        data-vis-attrs3="schrift_groesse;schrift_groesse_oben;Einheit;"
        data-vis-attrs4="weite[40]/slider,0,1000,1;"
        data-vis-attrs5="link1;link2;link3;link4;"

        data-vis-type="ctrl,bool,button,state,navigation"
        data-vis-update-style="true"

        data-vis-name="circleMenu">

    <div id="<%= this.data.attr('wid') %>" class="vis-widget" style="" >

       
        <div class="vis-widget-body <%== this.data.attr('class') %>">



<nav class="circular-menu">

  <div class="circle">
    <a href="" class="fa fa-home fa-2x"></a>
    <a href="" class="fa fa-facebook fa-2x"></a>
    <a href="" class="fa fa-twitter fa-2x"></a>
    <a href="" class="fa fa-linkedin fa-2x"></a>
    <a href="" class="fa fa-github fa-2x"></a>
    <a href="" class="fa fa-rss fa-2x"></a>
    <a href="" class="fa fa-pinterest fa-2x"></a>
    <a href="" class="fa fa-asterisk fa-2x"></a>
  </div>
  
  <a href="" class="menu-button fa fa-bars fa-2x"></a>

</nav>

<script>// Demo by http://creative-punch.net

var items = document.querySelectorAll('.circle a');

for(var i = 0, l = items.length; i < l; i++) {
  items[i].style.left = (50 - 35*Math.cos(-0.5 * Math.PI - 2*(1/l)*i*Math.PI)).toFixed(4) + "%";
  
  items[i].style.top = (50 + 35*Math.sin(-0.5 * Math.PI - 2*(1/l)*i*Math.PI)).toFixed(4) + "%";
}

document.querySelector('.menu-button').onclick = function(e) {
   e.preventDefault(); document.querySelector('.circle').classList.toggle('open');
}</script>


</script>

